<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form action="/add", method="post">
        <p>考试编号：<input type="text" name="ExamNo" id="EnamNo"></p>
        <p>学生学号：<input type="text" name="stuNo" id="stuNo"></p>
        <P>笔试成绩：<input type="text" name="writtenExam" id="writtenExam"></P>
        <p>机试成绩<input type="text" name="LabExam" id="LabExam"></p>  
        <p>
            <input type="submit" value="提交">
            <input type="reset" value="重置">
        </p>
    </form>
    <a href="/welcome">首页</a>
</body>
</html>