<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="10_10_web02.css">
</head>
<body>
    <form action="/delete" method="post">
        <p>输入要删除的考试的id：<input type="text" name="choice"></p>
        <p>
            <input type="submit" value="提交">
            <input type="reset" value="重置">           
        </p>
    </form>
    <a href="/welcome">首页</a>
</body>
</html>